<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.smarthost"
          android:versionCode="05"
          android:versionName="0.5">

    <compatible-screens>
        <!-- all small size screens -->
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
    </compatible-screens>

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="permission_name"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- The following two permissions are not required to use
         Google Maps Android API v2, but are recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>


    <permission
            android:name="com.smarthost.permission.C2D_MESSAGE"
            android:protectionLevel="signature" />
    <uses-permission android:name="com.smarthost.permission.C2D_MESSAGE" />


    <application
            android:name=".SmartHostApplication"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/SmartHost"
            >

        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyBDyiq--r9YqxEZu9O0UYZPK_-FP8vV-wY"/>

        <provider
                android:name="com.tyczj.extendedcalendarview.CalendarProvider"
                android:permission="signature"
                android:authorities="com.tyczj.extendedcalendarview.calendarprovider" />


        <activity android:name=".AppraiseActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ListingsActivity"/>
        <activity android:name=".SettingsActivity"/>


        <!-- Superbus -->
        <service
                android:name="co.touchlab.android.superbus.SuperbusService"
                android:exported="false" />
        <receiver android:name="co.touchlab.android.superbus.network.ConnectionChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- Issue Reporting -->
        <service
                android:name="co.touchlab.ir.process.UploadManagerService"
                android:exported="false"
                android:process=":ir" />

        <!-- Google cloud messaging -->
        <receiver
                android:name=".GCMBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="co.touchlab.android.gymlitics" />
            </intent-filter>
        </receiver>



    </application>
</manifest>
